%head
  %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  %link(rel="stylesheet" href="stylesheet.css" type="text/css")
%body
  %section#header
    .container
      .row
        .col-sm-12
          %h1 Dan & Katy
          %h4 October 10, 2015
  %section#nav
    .container
      .row
        .col-sm-8.col-sm-offset-2
          .nav-item
            %a(href='#wedding')
              Wedding
          .nav-item
            %a(href='#travel')
              Travel
          .nav-item
            %a(href='#photos')
              Photos
          .nav-item
            %a(href='#registry')
              Registry
          .nav-item
            %a(href='#rsvp')
              RSVP

  #nav-clear
  %section.splash
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %img(src="//s3.amazonaws.com/harvest-assets/waterfront-750.jpg" class="img-responsive")

  %section#wedding
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %h2 Wedding & Reception
          %p Dragée chocolate cake cookie pie. Donut dessert chocolate bar. Chocolate bar wafer lollipop. Sugar plum donut tiramisu croissant marshmallow croissant cake danish. Cake tootsie roll chocolate cake sweet bear claw tootsie roll. Tootsie roll halvah apple pie. Chocolate bar brownie bonbon sweet roll.
  %section.splash
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %img(src="//s3.amazonaws.com/harvest-assets/pennsylvania-750.jpg" class="img-responsive")
  %section#travel
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %h2 Travel & Accomodations
          Gingerbread donut sugar plum tootsie roll sweet dessert gummi bears. Candy canes carrot cake biscuit gingerbread. Dessert chupa chups sugar plum halvah. Soufflé topping chocolate cake jelly ice cream halvah cookie candy wafer. Gingerbread sweet sweet caramels oat cake candy canes. Cake jujubes cake brownie jelly. Gingerbread cotton candy gummies. Sweet roll danish tootsie roll. Dragée fruitcake sesame snaps sweet roll powder. Macaroon cake brownie candy bear claw topping topping pastry sugar plum.
  %section.splash
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %img(src="//s3.amazonaws.com/harvest-assets/new-mexico-750.jpg" class="img-responsive")
  %section#photos
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %h2 Photos
          Chocolate cake fruitcake ice cream sesame snaps oat cake marshmallow. Wafer brownie oat cake gummies. Marzipan pudding candy tart sesame snaps pudding chocolate jujubes. Oat cake macaroon halvah oat cake. Sesame snaps tootsie roll gingerbread jelly beans biscuit. Apple pie danish cake ice cream bonbon. Cookie powder gingerbread dragée. Croissant croissant dessert halvah pastry jelly-o cookie cake toffee.
  %section.splash
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %img(src="//s3.amazonaws.com/harvest-assets/bean-750.jpg" class="img-responsive")
  %section#registry
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %h2 Registry
          Cake sugar plum marshmallow sugar plum cheesecake danish. Sugar plum fruitcake pie marshmallow marzipan sweet roll danish. Cotton candy brownie chocolate bar pie pudding pastry tart dragée. Jelly muffin chocolate cake dragée. Gummi bears candy canes sugar plum pastry donut. Brownie pastry liquorice apple pie sesame snaps. Pastry dessert dragée dragée oat cake. Cake danish lollipop.
  %section.splash
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %img(src="//s3.amazonaws.com/harvest-assets/sunset-750.jpg" class="img-responsive")
  %section#rsvp
    .container
      .row
        .col-sm-4.col-sm-offset-4
          %h2 RSVP SI VOU PLAIS
          %input.form-control(placeholder="RSVP")
  %section.splash
    .container
      .row
        .col-sm-4.col-sm-offset-4
          %img(src="//s3.amazonaws.com/harvest-assets/katy-sand-750.jpg" class="img-responsive")
