%head
  %title Dan and Katy
  %meta(name="description"){ content: 'Important information for an evening with Dan and Katy' }
  %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  %link(href="//s3.amazonaws.com/harvest-assets/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon")
  %link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  %link(rel="stylesheet" href="stylesheet.css" type="text/css")
  %script(src="//code.jquery.com/jquery-1.11.2.min.js")
  %script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
  %script(type="text/javascript" src="smooth_scroll.js")
  %script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true")
  %script(type="text/javascript" src="map.js")

%body
  %section#header
    .container
      .row
        .col-sm-12
          %h1 Dan & Katy
          %h4 October 10, 2015
  %section#nav
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .row
            .col-xs-3
              %a(href='#wedding' data-scroll)
                Wedding
            .col-xs-3
              %a(href='#travel' data-scroll)
                Travel
            .col-xs-3
              %a(href='#registry' data-scroll)
                Registry
            .col-xs-3
              %a(href='#rsvp' data-scroll)
                RSVP

  %section
    .container
      .row
        .col-sm-10.col-sm-offset-1
          #carousel.carousel.slide{"data-ride" => "carousel"}
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel"}
            / Wrapper for slides
            .carousel-inner{:role => "listbox"}
              .item.active
                %img(src="//s3.amazonaws.com/harvest-assets/waterfront-1k.jpg" class="img-responsive")
              .item
                %img(src="//s3.amazonaws.com/harvest-assets/bogota-1k.jpg" class="img-responsive")
              .item
                %img(src="//s3.amazonaws.com/harvest-assets/backyard-1k.jpg" class="img-responsive")
              .item
                %img(src="//s3.amazonaws.com/harvest-assets/graduation-1k.jpg" class="img-responsive")
              .item
                %img(src="//s3.amazonaws.com/harvest-assets/lampost-1k.jpg" class="img-responsive")
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel", :role => "button"}
              %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel", :role => "button"}
              %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
              %span.sr-only Next

  %section#wedding
    .container
      .row
        .col-sm-10.col-sm-offset-1
          %h2 Wedding & Reception
          %p Dragée chocolate cake cookie pie. Donut dessert chocolate bar. Chocolate bar wafer lollipop. Sugar plum donut tiramisu croissant marshmallow croissant cake danish. Cake tootsie roll chocolate cake sweet bear claw tootsie roll. Tootsie roll halvah apple pie. Chocolate bar brownie bonbon sweet roll.
  %section.splash
    .container
      .row
        .col-sm-10.col-sm-offset-1
          %img(src="//s3.amazonaws.com/harvest-assets/pennsylvania-1k.jpg" class="img-responsive")
  %section#travel
    .container
      .row
        .col-sm-10.col-sm-offset-1
          %h2 Travel & Accomodations
          #map-canvas
  %section.splash
    .container
      .row
        .col-sm-10.col-sm-offset-1
          %img(src="//s3.amazonaws.com/harvest-assets/new-mexico-1k.jpg" class="img-responsive")
  %section#registry
    .container
      .row
        .col-sm-10.col-sm-offset-1
          %h2 Registry
          Cake sugar plum marshmallow sugar plum cheesecake danish. Sugar plum fruitcake pie marshmallow marzipan sweet roll danish. Cotton candy brownie chocolate bar pie pudding pastry tart dragée. Jelly muffin chocolate cake dragée. Gummi bears candy canes sugar plum pastry donut. Brownie pastry liquorice apple pie sesame snaps. Pastry dessert dragée dragée oat cake. Cake danish lollipop.
  %section.splash
    .container
      .row
        .col-sm-10.col-sm-offset-1
          %img(src="//s3.amazonaws.com/harvest-assets/bean-1k.jpg" class="img-responsive")
  %section#rsvp
    .container
      .row
        .col-sm-4.col-sm-offset-4
          %h2 RSVP s'il vous plait
          %input.form-control(placeholder="RSVP")
  %section.splash
    .container
      .row
        .col-sm-4.col-sm-offset-4
          %img(src="//s3.amazonaws.com/harvest-assets/katy-sand-1k.jpg" class="img-responsive")

%script
  smoothScroll.init({offset: 60});

  $(window).scroll(function(e) {
  if ($(window).scrollTop() > 130) {
  $('#nav').addClass("fixed-nav");
  $('body').addClass("body-fixed-nav");
  } else {
  $('#nav').removeClass("fixed-nav");
  $('body').removeClass("body-fixed-nav");
  }
  });

- if Sinatra::Base.production?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60018273-1', 'auto');
    ga('send', 'pageview');
