body {
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  padding-bottom: 50px;
}

body.body-fixed-nav {
  padding-top: 33px;
}

#welcome {
  margin-top: 30px;
}

a:hover, a:visited, a:focus {
  text-decoration: none;
}

#header {
  font-family: 'Garamond';
  text-align: center;
  margin-top: 20px;
}

#header h1 {
  font-size: 48px;
}

h2, h4 {
  text-align: center;
}

.fixed-nav {
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #1C1C1C;
}

#nav {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

#nav a {
  color: #1C1C1C;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 7px 15px;
}

#nav .col-xs-3:first-of-type {
  text-align: left;
}

#nav .col-xs-3:last-of-type {
  text-align: right;
}

@media (min-width: 768px) {
  #nav a:hover {
    border-color: #1C1C1C;
  }
}

#map-canvas {
  height: 600px;
}

section {
  margin-bottom: 50px;
}

section h2 {
  margin-bottom: 30px;
  font-family: 'Garamond';
}

.hotels {
  margin-top: 30px;
}

.hotel {
  text-align: center;
  margin-bottom: 30px;
}
